In [ ]:
# WAP to print number from 10-1
<counter initialization>
while <condition>:
    <code>
    <update>

In [1]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
for <var> in <seq/iterable>:
    # code

In [6]:
s = 'abcd'
for gaurav in 'abcd':
    print(gaurav)
    
i = 0
while i < len(s):
    c = s[i]
    print(c)
    i += 1

a
b
c
d
a
b
c
d

In [2]:
s = 'abcd'
ss = 0
for c in s:
    ss += ord(c)
print(ss)

394

In [8]:
l = [10,20,30,40]

for data in l:
    print(data*data)

100
400
900
1600

In [8]:
# WAP to input a string. and print all characters in upper case
#  abcdABC  
# A
# B
# C .....

s = input("Input : ")
for c in s:
    print(ord(c))

Input : abc123
97
98
99
49
50
51

In [ ]:
# WAP to input a string. and create a list with the ordinal values of the characters in the string
# abcd => [97,98,99,100]

s = input("Input : ")
for c in s:
    print(c.upper())

In [10]:
# WAP to input a string. and create a list with the ordinal values of the characters in the string
# abcd => [97,98,99,100]

s = input("Input : ")

a = []
for c in s:
    a.append(ord(c))
    print(a)

Input : abcd
[97]
[97, 98]
[97, 98, 99]
[97, 98, 99, 100]

In [14]:
r = range(10) 
print(r) # 0-9
r = range(10,20) 
print(r) # 10-19
r = range(10,20,2) 
print(r) # 10,12,14,...18
print(type(r))

range(0, 10)
range(10, 20)
range(10, 20, 2)
<class 'range'>

In [16]:
n = input("Enter Limit:")
n = int(n)
for i in range(1, n + 1):
    print(i)

Enter Limit:4
1
2
3
4

In [20]:
n = input("Enter Limit:")
n = int(n)
for i in range(n, 0,-1):
    print(i)

Enter Limit:5
5
4
3
2
1

In [22]:
a = list( range( 1,11) )
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
a = tuple( range( 1,11) )
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [24]:
# WAP to generate tuple of even numbers from 0-n
n = int(input("Enter limit : "))

t = tuple( range(0,n+1, 2) )
print(t)

Enter limit : 10
(0, 2, 4, 6, 8, 10)

In [ ]:
t = ( 1,2,3 )
s = [10,20,30]
s[1]
s = 'abcd'
s[1]

In [27]:
list( (10,) )

[10]

In [28]:
def funct(x):
    print(type(x))
    
funct(10)
funct(10,)
funct( (10,) )

<class 'int'>
<class 'int'>
<class 'tuple'>