In [6]:
s = 'a bcd 1#2,3 c d'
r = s.split()
print(r, type(r))
s = '1,2,333,444'
r = s.split()
print(r)
r = s.split(',')
print(r)

['a', 'bcd', '1#2,3', 'c', 'd'] <class 'list'>
['1,2,333,444']
['1', '2', '333', '444']

In [9]:
s = input("Enter numbers separated by space : ")

l = s.split()
ll =[] # [ int(data) for data in s.split() ] # list-comprehension # [] {} ()
for data in l:
    ll.append(int(data))
    
print(l)
print(ll)

Enter numbers separated by space : 234 ab

ValueError: invalid literal for int() with base 10: 'ab'

In [10]:
"""
[[1,2,3], [1,2], [10,20]]

how to flatten it using list-compr
[1,2,3,1,2,10,20]
"""

'\n[[1,2,3], [1,2], [10,20]]\n\nhow to flatten it using list-compr\n[1,2,3,1,2,10,20]\n'

In [16]:
l = ['aa', 'p','q']
print(' '.join(l))
print('\n'.join(l))
s = ', '.join(l)
print(s, type(s))

s= 'abc 123 pqr'
print(','.join( s.split() ))
print(''.join( s.split() ))

aa p q
aa
p
q
aa, p, q <class 'str'>
abc,123,pqr
abc123pqr

### break - continue
- can only be used in loops (while or for)
- break terminates the loop
- continue move to next iteration of loop

In [18]:
# break

for i in range(10):
    print(i)
    if (i == 5):
        break
    print(i**2)

0
0
1
1
2
4
3
9
4
16
5

In [20]:

for i in range(10):
    for j in range(5):
        if (i == 5):
            break
        print(i, end = '')
    print()

00000
11111
22222
33333
44444

66666
77777
88888
99999

In [23]:
# break

for i in range(5):
    print(i)
    if (i == 2):
        continue
    print(i**2)

0
0
1
1
2
3
9
4
16

## PANDAS

In [25]:
import pandas as pd

In [26]:
print(dir(pd))

['Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NaT', 'Panel', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseDtype', 'SparseSeries', 'TimeGrouper', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_hashtable', '_lib', '_libs', '_np_version_under1p13', '_np_version_under1p14', '_np_version_under1p15', '_np_version_under1p16', '_np_version_under1p17', '_tslib', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

In [27]:
print(dir(pd.Series))

['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_SLICEMAP', '__abs__', '__add__', '__and__', '__array__', '__array_prepare__', '__array_priority__', '__array_wrap__', '__bool__', '__bytes__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__unicode__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_binop', '_box_item_values', '_builtin_table', '_can_hold_na', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_for_slice', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_create_indexer', '_cython_table', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_expand_axes', '_find_valid_index', '_formatting_values', '_from_axes', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_iget_item_cache', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_cython_func', '_is_datelike_mixed_type', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_map_values', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_ndarray_values', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_labels', '_set_name', '_set_subtyp', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_series_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'as_blocks', 'as_matrix', 'asfreq', 'asobject', 'asof', 'astype', 'at', 'at_time', 'autocorr', 'axes', 'base', 'between', 'between_time', 'bfill', 'blocks', 'bool', 'cat', 'clip', 'clip_lower', 'clip_upper', 'combine', 'combine_first', 'compound', 'compress', 'convert_objects', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'data', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dt', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_array', 'from_csv', 'ftype', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_value', 'get_values', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'imag', 'index', 'infer_objects', 'interpolate', 'is_copy', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'itemsize', 'iteritems', 'ix', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'nonzero', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'ptp', 'put', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'real', 'reindex', 'reindex_axis', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'select', 'sem', 'set_axis', 'set_value', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'std', 'str', 'strides', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'timetuple', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_msgpack', 'to_numpy', 'to_period', 'to_pickle', 'to_sparse', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'valid', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [28]:
print(dir(pd.DataFrame))

['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_SLICEMAP', '__abs__', '__add__', '__and__', '__array__', '__array_priority__', '__array_wrap__', '__bool__', '__bytes__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__unicode__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_box_col_values', '_box_item_values', '_builtin_table', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_combine_const', '_combine_frame', '_combine_match_columns', '_combine_match_index', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_for_slice', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_count_level', '_create_indexer', '_cython_table', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_expand_axes', '_find_valid_index', '_from_arrays', '_from_axes', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_getitem_bool_array', '_getitem_frame', '_getitem_multilevel', '_gotitem', '_iget_item_cache', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_cython_func', '_is_datelike_mixed_type', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_join_compat', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_series', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_frame_compat', '_unpickle_matrix_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'as_blocks', 'as_matrix', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'axes', 'between_time', 'bfill', 'blocks', 'bool', 'boxplot', 'clip', 'clip_lower', 'clip_upper', 'columns', 'combine', 'combine_first', 'compound', 'convert_objects', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'from_csv', 'from_dict', 'from_items', 'from_records', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_value', 'get_values', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'is_copy', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'ix', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_axis', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select', 'select_dtypes', 'sem', 'set_axis', 'set_index', 'set_value', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'timetuple', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_msgpack', 'to_numpy', 'to_panel', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sparse', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'values', 'var', 'where', 'xs']

In [33]:
import numpy as np

In [32]:
s = pd.Series() # 1-D 
print(s)
df = pd.DataFrame() # 2-D
print(df)

Series([], dtype: float64)
Empty DataFrame
Columns: []
Index: []

In [40]:
s = pd.Series([100,20.0,300], index = [10,20,30]) # 1-D 
print(s)
print(s.dtype)
print(s.size)
print(s.itemsize)
print(s.shape)
print(s.index)

10    100.0
20     20.0
30    300.0
dtype: float64
float64
3
8
(3,)
Int64Index([10, 20, 30], dtype='int64')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Series.itemsize is deprecated and will be removed in a future version
  """

In [60]:
s = pd.Series([100,20.0,300], index = ['a',22,'b']) # 1-D
print(s)
print(s.index)
print(s['a'])
print(s['b':])

a     100.0
22     20.0
b     300.0
dtype: float64
Index(['a', 22, 'b'], dtype='object')
100.0
b    300.0
dtype: float64

In [67]:
# DataFrame

mat = np.random.randint(10,20,50).reshape(10,5)
df = pd.DataFrame(mat)
print(df)
print(df.index)
print(df.columns)
print(df.shape)
print(df.size)
print(df.dtypes)
s = pd.Series(list('abcdefghij'))
df[5] = s

    0   1   2   3   4
0  12  14  14  14  17
1  14  10  18  19  13
2  13  10  10  17  19
3  14  12  12  19  19
4  10  10  18  18  17
5  16  13  18  17  13
6  19  19  14  16  12
7  11  15  12  13  11
8  11  13  18  19  11
9  15  10  16  16  16
RangeIndex(start=0, stop=10, step=1)
RangeIndex(start=0, stop=5, step=1)
(10, 5)
50
0    int32
1    int32
2    int32
3    int32
4    int32
dtype: object

In [78]:
# DataFrame

mat = np.random.randint(10,20,50).reshape(10,5)
df = pd.DataFrame(mat)
print(df)
s = pd.Series(list('abcdefghijkl')) # new column data 
df['ABC'] = s # create a new column
print(df)
print(df.dtypes)

    0   1   2   3   4
0  15  14  17  10  10
1  11  17  16  12  14
2  15  15  17  15  17
3  14  13  17  18  11
4  17  19  18  13  18
5  14  17  16  17  16
6  16  16  12  13  10
7  12  10  13  15  16
8  17  16  17  19  11
9  17  11  11  14  15
    0   1   2   3   4 ABC
0  15  14  17  10  10   a
1  11  17  16  12  14   b
2  15  15  17  15  17   c
3  14  13  17  18  11   d
4  17  19  18  13  18   e
5  14  17  16  17  16   f
6  16  16  12  13  10   g
7  12  10  13  15  16   h
8  17  16  17  19  11   i
9  17  11  11  14  15   j
0       int32
1       int32
2       int32
3       int32
4       int32
ABC    object
dtype: object

In [77]:
mat = np.random.randint(10,20,50).reshape(10,5)
dataframe = pd.DataFrame(mat, index = list('abcdefghij'),columns = list('ABCDE'))
print(dataframe)
print(dataframe.index)
print(dataframe.columns)
print(dataframe.dtypes)

    A   B   C   D   E
a  13  10  10  10  16
b  18  13  10  15  14
c  19  14  10  16  14
d  16  15  17  10  14
e  12  15  12  10  19
f  11  16  18  10  19
g  17  10  17  10  17
h  11  18  11  18  19
i  15  11  17  10  12
j  19  12  17  13  17
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')
Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
A    int32
B    int32
C    int32
D    int32
E    int32
dtype: object

In [84]:
# DataFrame

mat = np.random.randint(10,20,50).reshape(10,5)
df = pd.DataFrame(mat)
print(df)
s = pd.Series(list('abcdefghigkl')) # new column data 
s[3] = np.nan
df['ABC'] = s # create a new column
print(df)
print(df.dtypes)

    0   1   2   3   4
0  14  14  12  11  19
1  14  12  18  10  19
2  13  12  17  17  16
3  17  14  12  13  19
4  17  12  13  12  19
5  10  19  11  12  13
6  16  18  11  13  17
7  17  10  14  16  12
8  16  19  15  11  19
9  10  10  19  18  12
    0   1   2   3   4  ABC
0  14  14  12  11  19    a
1  14  12  18  10  19    b
2  13  12  17  17  16    c
3  17  14  12  13  19  NaN
4  17  12  13  12  19    e
5  10  19  11  12  13    f
6  16  18  11  13  17    g
7  17  10  14  16  12    h
8  16  19  15  11  19    i
9  10  10  19  18  12    g
0       int32
1       int32
2       int32
3       int32
4       int32
ABC    object
dtype: object

In [86]:
print(df.describe( include = 'all') )

                0          1          2          3          4  ABC
count   10.000000  10.000000  10.000000  10.000000  10.000000    9
unique        NaN        NaN        NaN        NaN        NaN    8
top           NaN        NaN        NaN        NaN        NaN    g
freq          NaN        NaN        NaN        NaN        NaN    2
mean    14.400000  14.000000  14.200000  13.300000  16.500000  NaN
std      2.716207   3.496029   2.936362   2.750757   3.064129  NaN
min     10.000000  10.000000  11.000000  10.000000  12.000000  NaN
25%     13.250000  12.000000  12.000000  11.250000  13.750000  NaN
50%     15.000000  13.000000  13.500000  12.500000  18.000000  NaN
75%     16.750000  17.000000  16.500000  15.250000  19.000000  NaN
max     17.000000  19.000000  19.000000  18.000000  19.000000  NaN

In [87]:
print(df.head()) # default 5 rows from top
print()
print(df.tail())

    0   1   2   3   4  ABC
0  14  14  12  11  19    a
1  14  12  18  10  19    b
2  13  12  17  17  16    c
3  17  14  12  13  19  NaN
4  17  12  13  12  19    e

    0   1   2   3   4 ABC
5  10  19  11  12  13   f
6  16  18  11  13  17   g
7  17  10  14  16  12   h
8  16  19  15  11  19   i
9  10  10  19  18  12   g

In [88]:
print(df.head(4)) # default 5 rows from top
print()
print(df.tail(2))

    0   1   2   3   4  ABC
0  14  14  12  11  19    a
1  14  12  18  10  19    b
2  13  12  17  17  16    c
3  17  14  12  13  19  NaN

    0   1   2   3   4 ABC
8  16  19  15  11  19   i
9  10  10  19  18  12   g

In [99]:
df2 = df.sort_values(by = [0,1])
print(df.head()) # original doesn't change
print()
print(df2.head())

print()
print()
res = df.sort_values(by = [0,'ABC'], inplace = True) # by = [list of column names]
print(res)
print(df.head())

    0   1   2   3   4 ABC
8  16  19  15  11  19   i
7  17  10  14  16  12   h
6  16  18  11  13  17   g
9  10  10  19  18  12   g
5  10  19  11  12  13   f

    0   1   2   3   4 ABC
9  10  10  19  18  12   g
5  10  19  11  12  13   f
2  13  12  17  17  16   c
1  14  12  18  10  19   b
0  14  14  12  11  19   a


None
    0   1   2   3   4 ABC
0  14  14  12  11  19   a
1  14  12  18  10  19   b
2  13  12  17  17  16   c
4  17  12  13  12  19   e
5  10  19  11  12  13   f

In [113]:
df_d = pd.DataFrame(np.random.randint(1,20, 50).reshape(10,5), columns = list('ABCDE'))

print(df_d)
df_d.sort_values(by = [0,], axis = 1 )

    A   B   C   D   E
0   2  18   5  15  19
1   4   6   3  13  19
2   8  16  12   6   6
3   8   3   5   2   8
4  15  10  15  13  13
5  10  14   4   2   1
6   6   8   8  19  17
7   2  11   6   8  13
8   6  12   3   4  10
9  12   5  10  14   4

    A   C   D   B   E
0   2   5  15  18  19
1   4   3  13   6  19
2   8  12   6  16   6
3   8   5   2   3   8
4  15  15  13  10  13
5  10   4   2  14   1
6   6   8  19   8  17
7   2   6   8  11  13
8   6   3   4  12  10
9  12  10  14   5   4

In [108]:
df_d = pd.DataFrame(np.random.randint(1,20, 50).reshape(10,5), columns = list('ABCDE'))
print(df.columns)

print(df_d.A.head()) # column access by name
print(df_d['A'].head()) # access column by index
print(df_d[ ['A', 'C'] ].head()) # access column by index

Index([0, 1, 2, 3, 4, 'ABC'], dtype='object')
0     9
1    16
2     6
3     9
4    10
Name: A, dtype: int32
0     9
1    16
2     6
3     9
4    10
Name: A, dtype: int32
    A   C
0   9  18
1  16  10
2   6   5
3   9  14
4  10  12

In [112]:
df_d = pd.DataFrame(np.random.randint(1,20, 50).reshape(10,5), columns = list('ABCDE'))
print(df.columns)

print(df_d[2:5]) # slice on basis of rows

Index([0, 1, 2, 3, 4, 'ABC'], dtype='object')
    A   B   C   D   E
2   3  18  15  15  19
3   6   2   1  17  15
4  18  15  13  11   7