In [5]:
#1
6 , 19

(6, 19)

In [1]:
#2
a = input('enter number')
print(len(a))

enter numberchandan123
10

In [8]:
#3
a = input('enter 1st number')
b = input('enter 2nd number')
r=int(a)+int(b)
p=int(a)-int(b)
print('addition',r,'subtration',p)

enter 1st number10
enter 2nd number20
addition 30 subtration -10

In [10]:
#4
print('abde')

abde

In [11]:
#5
print('abde')

abde

In [13]:
#6
print('abababab')

abababab

In [17]:
#7

#ab
#ab
#ab
#ab

In [27]:
#8
S=input('enter string')
n=input('enter number')
r=S+'\n'
print(r*int(n))

enter stringchandan
enter number5
chandan
chandan
chandan
chandan
chandan

In [28]:
#9
print('Gaurav')

Gaurav

In [30]:
#10
print('<class int>')

<class int>

In [34]:
#11
print('26')

26

In [53]:
#12 dir(math)

In [47]:
#13
a=input('enter number')
print(int(a)*int(a))

enter number3
9

In [46]:
#14
a, b, c, d=input('enter 4 numbers').split()
print((int(a)+int(b)+int(c)+int(d))/4)

enter 4 numbers1 2 3 4
2.5

In [48]:
#15
#return the absolute value of a number

In [51]:
#16
#__main__

In [49]:
#17
print(__name__)

__main__

In [50]:
#18
#N

In [52]:
#19
#__main__
#builtins
#int